body {
  font-family: 'Lora', serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif !important;
}

.dietaryRestrictionsList input[type=checkbox] {
  margin-left: 15px;
  line-height: 18px;
}

.exampleResult {
  width: 100%;
  background-color: #EEE;
  border-radius: 6px;
  margin-top: 20px;
  padding: 1.5em;
}

.exampleResult h2, h4 {
  margin-top: 0px;
}
